doctype html

html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/Zurb/css/foundation.css')
		script(src='javascripts/angular.js')
		script(src='javascripts/menu.js')
		script(src='javascripts/controller.js')
		script(src='javascripts/jquery-2.1.1.js')
		script(src='javascripts/jquery_funcs.js')
		script(src='javascripts/temp.js')

	each object in tabela
		script.
			nazwa.push('#{object.nazwa}');
			kategoria.push('#{object.kategoria}');
			x.push(#{object.x});
			y.push(#{object.y});

	body(onload='loadScript()' style='overflow:auto')

		div(class='row' id='site_row' style='margin:0; padding:0; width: 100%; height: 100%;' ng-app="APP" ng-controller="APP.ApplicationCtrl")
			h1(id='napis') #{miasto}
			h2 {{ name }}
			form
				select(id='select_city')
					option(value='/gdansk') gdansk
					option(value='/wroclaw') wroclaw
					option(value='/warszawa') wawka
				button(id='przyciska') Click
 



			div(class='large-2 medium-3 columns')
				div(class='row' style='padding: 0;')
						div(class='large-12 medium-12 small-12 columns' style='padding: 0; margin: 0;')
							button(onclick='show_events_menu()' style='width: 100%;border-style: solid none solid none') 
								p(class='p_events_menu' style='margin-top: -3%') Show events
								p(class='p_events_menu' style='display:none; margin-top: -3%') Show menu


				
				div(class='row' id='menu_profile' style='overflow: hidden; height: 310px')		

					div(id='events_div' style='display: none' class='large-12 medium-12 columns')
						div(style='direction: ltr')
							p(class='event') Jedno
							p(class='event') Drugie			

					

					div(id='main_menu_div' class='large-12 medium-12 columns')
						div(style='direction: ltr;overflow-x: hidden; padding:0;color: orange; height: 100%')
							div(class='row' style='border-top-style: solid; border-top-width: 1px; border-top-color: grey; height:auto')
								div(style='margin-top: 4%')
									div(class='large-2 medium-2 columns')
										img(src='images/1.png')
									div(class='large-8 medium-8 columns')
										p(class='submenu_title') Entrepreneurs									
									div(class='large-2 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu' id='entrepreneurs_ckb' onclick='clearMarkers()' )
							div(class='row' style='margin: 0;')
								div(class='submenu')
									ul(id='entrepreneurs' class='ul_profile')
										li BlastLab

												

							div(class='row' style='border-top-style: solid; border-top-width: 1px; border-top-color: grey;')
								div(style='margin-top: 4%')
									div(class='large-2 medium-2 columns')
										img(src='images/2.png')
									div(class='large-8 medium-8 columns')
										p(class='submenu_title') R&D Projects									
									div(class='large-2 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu' id='r_and_d_ckb' onclick='clearMarkers()' )

							div(class='row' style='margin: 0')
								div(class='submenu')
									ul(id='r_and_d_projects' class='ul_profile')
										li CERN


							div(class='row' style='border-top-style: solid; border-top-width: 1px; border-top-color: grey;')
								div(style='margin-top: 4%')
									div(class='large-2 medium-2 columns')
										img(src='images/3.png')
									div(class='large-8 medium-8 columns')
										p(class='submenu_title') Tech Hubs									
									div(class='large-2 medium-2 columns' id='menu' style='padding: 0; margin: 0')
										input(type='checkbox' class='input_menu' id='tech_hubs_ckb' onclick='clearMarkers()' )

							div(class='row' style='margin: 0; border-bottom-style: solid;  border-bottom-width: 1px; border-bottom-color: grey; height:auto')
								div(class='submenu')
									ul(id='tech_hubs')
										li Incubators
										ul(id='incubators' class='ul_profile')
											li Jeden
										li Accelerators
										ul(id='accelerators' class='ul_profile')
											li Jeden
										li Parks	
										ul(id='parks' class='ul_profile')
											li Jeden


					div(class='large-12 medium-12 columns' id='profile')
						img(src='images/human_little.png')
						p(style='display: inline; font-size: 20px' id='nazwa_imie')
						p     
						p Tralaliński
						p Gdańsk, ul. Jana Sobieskiego 12
						p Webmaster, designer, grafik
						div(class='back_button')
							button(class='ul_profile' name='' type='' style='position: absolute; bottom: 0; left: 2%') Back

					div(class='large-12 medium-12 small-12 columns' id='formula')
						p(style='color: orange;padding-top: 1%; margin: 0') Choose category:
						form#formAddUser(name="adduser",method="post",action="/adduser")
							select(id='category' onclick='validate()' style='width: 80%; height: 10%;padding: 0; margin: 0')
								option Entrepreneurs
								option R&D Projects
								option Tech Hubs
							div(id='entrepreneurs_sub' style='display:none')
								p(style='color: orange;padding-top: 5%; margin: 0') Choose subcategory
								select(name='subcategory_entr' style='width: 80%; height: 10%;padding: 0; margin: 0')
									option Computers
									option Environment
									option Other
							div(id='tech_hubs_sub' style='display:none')
								p(style='color: orange;padding-top: 5%; margin: 0') Choose subcategory
								select(name='subcategory_tech_hubs' style='width: 80%; height: 10%;padding: 0; margin: 0')
									option Accelerators
									option Incubators
									option Parks
							p(style='color: orange;padding-top: 5%; margin: 0') Write a name: 
							input(type='text' value='Enter name here' name='nazwisko')		

							p(style='color: orange;padding-top: 5%; margin: 0') Write an adress: 
							input(type='text' value='Enter adress here' name='adress')												

							button( type='submit' name='add' style='position: absolute; bottom: 0; right: 2%; display: inline;') Add
						button(class='show_hide_btn' style='position: absolute; bottom: 0; left: 2%') Back


				div(class='row' style='margin-top: 50%;')
					div(class='large-3 medium-3 columns')
						p    
					div(class='large-6 medium-6 columns' style='padding:0')
						button(class='show_hide_btn' style='width: 100%;') Add
						p(style='color: orange') Events : 
							script.
								document.write(pisz())
					div(class='large-3 medium-3 columns')
						p  
			div(class='large-10 medium-9 columns' style='height: 100%; padding-right: 0; padding-left: 0')
				div(id='map-canvas')  
					

						